.gradle/file-system.probe
.gradle/7.4.2/gc.properties
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/checksums/md5-checksums.bin
.gradle/7.4.2/checksums/sha1-checksums.bin
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.5.1/gc.properties
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/md5-checksums.bin
.gradle/7.5.1/checksums/sha1-checksums.bin
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
android/build/generated/source/buildConfig/debug/com/circular/android_background/BuildConfig.java
android/build/generated/source/buildConfig/release/com/circular/android_background/BuildConfig.java
android/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
android/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
android/build/intermediates/aapt_friendly_merged_manifests/release/aapt/AndroidManifest.xml
android/build/intermediates/aapt_friendly_merged_manifests/release/aapt/output-metadata.json
android/build/intermediates/aar_metadata/debug/aar-metadata.properties
android/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
android/build/intermediates/annotation_processor_list/release/annotationProcessors.json
android/build/intermediates/incremental/debug-mergeJavaRes/merge-state
android/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
android/build/intermediates/incremental/debug/packageDebugResources/merger.xml
android/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
android/build/intermediates/incremental/mergeDebugShaders/merger.xml
android/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
android/build/intermediates/incremental/mergeReleaseShaders/merger.xml
android/build/intermediates/incremental/packageDebugAssets/merger.xml
android/build/intermediates/incremental/packageReleaseAssets/merger.xml
android/build/intermediates/incremental/release/packageReleaseResources/compile-file-map.properties
android/build/intermediates/incremental/release/packageReleaseResources/merger.xml
android/build/intermediates/local_only_symbol_list/debug/R-def.txt
android/build/intermediates/local_only_symbol_list/release/R-def.txt
android/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
android/build/intermediates/manifest_merge_blame_file/release/manifest-merger-blame-release-report.txt
android/build/intermediates/merged_java_res/debug/feature-android.jar
android/build/intermediates/merged_manifest/debug/AndroidManifest.xml
android/build/intermediates/merged_manifest/release/AndroidManifest.xml
android/build/intermediates/packaged_manifests/debug/output-metadata.json
android/build/intermediates/packaged_manifests/release/output-metadata.json
android/build/outputs/logs/manifest-merger-debug-report.txt
android/build/outputs/logs/manifest-merger-release-report.txt
